$primary:        #3bbeb3;
$secondary:      #29ba4a;
$white:          #ffffff;
$white-2:        #f3f0f0;
$black-1:        #000000;
$black-2:        #333333;
$gray-1:         #7d7d7d;
$gray-2:         #9faab7;
$gray-3:         #e5edef;
$gray-4:         #4e5559;
$gray-5:         #c7c7c7;
$gray-6:         #f7f7f7;
$gray-7:         #eef1f5;
$gray-8:         #777777;
$gray-9:         #d8d8d8;
$gray-body:      #ebebeb;
$red-1:          #f75d63;
$red-2:          #f75d63;
$pink-1:         #fbb1bc;
$blue-1:         #2f3b67;
$blue-2:         #505d6c;
$blue-3:         #1a2036;
$green:          #21c59f;
$green-2:        #aad73f;
$yellow-1:       #fcdf77;
$yellow-2:       #f08f00;
$purple-1:       #212746;
$purple-2:       #6186ff;


$break-small-laptop: 1200px;
$break-tablet: 1024px;
$break-mobile: 767px;

$normal-font: 'Palanquin', sans-serif;
$alternative-font: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;